h1 {
    text-align: center;
    font-size: 60px;
    color:orange;
}

body {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
header {
    text-align: center;
    font-size: 60px;
    padding: 20px;
    font-weight: 100;
    display: flexbox;
    color: saddlebrown;
    background-color: wheat ;
}


img {
   width: 100%;
}
.caption {

    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-wrap: nowrap;    
    background-image: url("60b8faf1-851b-4bc0-9fe1-c981a55c4dfd.jpg");
    height: 1000px;

}
.description {
    font-size: 3em;
    background-color:whitesmoke;
    text-align: center;
    padding: 50px;
    display: flexbox;
}

figcaption {
    background-color: gray;
    color: aliceblue;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
}

footer {
    font-size: 14px;
    padding: 5px;
}

@media screen and (max-width: 700px) {
    body {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        background-image: none;
        background-color: lightblue;
        height: auto;
        
    }
    img {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        padding: 0px;
    }
    .description {
       font-size: 2em;
       line-height: 1.2em;
       padding: 0px;
    }
   
    .figcaption {
        font-size: 16px;
    }
    footer {
        padding: auto;
    }
}
