
body {
    /* background-image: url("pets.jpg"); */
    /* opacity: 0.5; */
}

#topArea {
    /* background-image: url("images/cartoon-cats.jpg"); */
    background-image: url("images/paws2.jpg");

}

#mainPic {
    /* opacity: 1; */
}

header {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color: saddlebrown;
    background-color: wheat ;
}

.typer {
    cursor: pointer;
}

.animate {
    animation: animate 3s ease-in-out forwards;
  }
  
  @keyframes animate {
    from {
      background-color: cornflowerblue;
      border-radius: 0;
    }
    to {
      background-color: green;
      border-radius: 100px;
    }
  }

  .content-block {
      min-height: 500px;
      padding-top: 50px;
      padding-bottom: 50px;
  }